{% extends 'layout.html' %}

{% block body %}
    <div class="card p-5 m-5">
        <h1 class="text-center">About Me</h1>
    <img class="mx-auto d-block m-2 rounded-circle" src="static\img\reka.jpg" width=200px>
    <p class="text-center font-weight-bold">Nama : Reka Briyan Cahya Heryana</p>
    <p class="text-center font-weight-bold">Nim : 211524024</p>
    <p class="text-center font-weight-bold">Kelas : 3A-D4 Teknik Informatika</p>

    <div class="container d-flex justify-content-center">
        <a href="https://github.com/Rekabriyan">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" class="mx-auto d-block" width=40px>
        </a>
        <a href="https://www.instagram.com/rekabriyan_/">
            <img src="https://assets.stickpng.com/images/5ecec78673e4440004f09e77.png" width=40px>
        </a>
    </div>
    </div>
    
    
{% endblock %}
