{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container justify-content-center border border-dark">
        <h1 class="display-4 text-center">PeCeDe</h1>
        <p class="lead text-center"> ini Aplikasi PeCeDe</p>
        <form class="text-center p-2" id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            Pilih Foto
            <input name="file" type="file" id="inputGroupFile04" accept="image/*">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
{% endblock %}